html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  font-family: $primary-font;
  color: $primary-text-color;
}

@media (max-width: 23.5em) {
  html {
    font-size: 50%;
  }
}
