// colors
$primary-color: #22254b;
$secondary-color: #3b3b69;
$primary-text-color: #fff;

$color-rating-primary: #4ade80;
$color-rating-secondary: #fb923c;
$color-rating-tertiary: #f87171;

// font
$primary-font: 'Roboto', sans-serif;
